[submodule "Outgoings"]
	path = Outgoings
	url = git@github.com:Ibrahim-Keyrouz/Outgoings.git
[submodule "gestionDep"]
	path = gestionDep
	url = git@github.com:bilani/gestionDep.git
[submodule "Expenses-Manager"]
	path = Expenses-Manager
	url = git@github.com:mohamad-dekmak/Expenses-Manager.git
[submodule "HayatBourji"]
	path = HayatBourji
	url = git@github.com:Hayat5/ex4.git
[submodule "Df"]
	path = Df
	url = git@github.com:Peter-eid/Df.git
[submodule "NachKar"]
	path = NachKar
	url = git@github.com:nachkar/Expenses.git
[submodule "Tamara"]
	path = Tamara
	url = git@github.com:tamaraoueidat/fam_expenses_smb214.git
[submodule "Chafik-Farid"]
	path = Chafik-Farid
	url = git@github.com:chakti-farid/expenses_upd.git
